<div class="recent-orders-container">

  <div class="stats-container">
    <div class="stats-table">
      <h2>Frequently Buy</h2>
      <div class="most-x-products" *ngFor="let product of mostFrequentProducts">
        <div class="product-thumbnail">
          <img [src]="product.imageUrl" [alt]="product.name" class="thumbnail-image">
        </div>
        <div class="product-details">
          <div class="product-name"><a [routerLink]="['/product', product.productId]">{{ product.name }}</a></div>
          <div class="product-price">{{ product.priceRetail | currency }}</div>
        </div>
      </div>
    </div>
    <div class="stats-table">
      <h2>Recently Buy</h2>
      <div class="most-x-products" *ngFor="let product of mostRecentProducts">
        <div class="product-thumbnail">
          <img [src]="product.imageUrl" [alt]="product.name" class="thumbnail-image">
        </div>
        <div class="product-details">
          <div class="product-name"><a [routerLink]="['/product', product.productId]">{{ product.name }}</a></div>
          <div class="product-price">{{ product.priceRetail | currency }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="order-table">
    <header class="page-header">
      <h1>Your Recent Orders</h1>
      <nav class="page-nav">
        <a routerLink="/watchlist" class="nav-link">Watchlist</a>
        <a routerLink="/cart" class="nav-link">Cart</a>
        <button class="logout-button" (click)="handleLogout()">Logout</button>
      </nav>
    </header>

    <div class="orders-list">
      <div *ngIf="orders.length > 0; else noOrders">
        <table>
          <thead>
          <tr>
            <th>Order Time</th>
            <th>Order Status</th>
            <th>Total Quantity</th>
            <th>Total Price</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let order of orders" [ngClass]="'status-' + order.status.toLowerCase()">
            <td>{{ order.createdAt | date:'short' }}</td>
            <td>{{ order.totalQuantity }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.totalPrice | currency }}</td>
            <td class="table-action">
              <a [routerLink] = "['/order', order.orderId]">View</a>
              <button class="cancel-order-button"
                      (click)="cancelOrder(order.orderId)"
                      [disabled]="order.status !== 'PROCESSING'">
                Cancel
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <ng-template #noOrders>
        <div class="empty-orders-message">
          <p>You have no recent orders.</p>
          <p><a routerLink="/products">Start Shopping</a></p>
        </div>
      </ng-template>

    </div>
  </div>


</div>
